.container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 30px;
    background-color: whitesmoke;
    margin-left: 180px;
    margin-right: 180px;
}

.container > div{
    background-color: white;
}
.right{
    display:flex ;
    margin-left:30px;
}
.one{
    margin-left: 40px;
}
.one1{
    margin-left: 180px;
}
.div3{
    display: flex;

}
.div1{
    margin-left: 250px;
}