* {
    font-family: Roboto;
}

.footer {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 18px;
    padding-bottom: 18px;
    background: black;
    border-bottom: 1px rgba(0, 0, 0, 0.40) solid;
    backdrop-filter: blur(30px);
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.footer-content {
    display: grid;
    height: 400px;
    align-content: center;
    grid-template-columns: auto auto;
    gap: 40px;
    padding: 10px;
    text-align: left;
}

.footer-container{
    margin-bottom: 25%;

}

.white {
    text-decoration: none;
    font-weight: 700;
    color: white;
    line-height: 25.60px;
    font-size: 16px;
}

.footer-content>.navbar-content {
    text-decoration: none;
    font-weight: 400;
    color: white;
    opacity: 0.78;
    line-height: 25.60px;
    font-size: 16px;
}

.text {
    color: white;
    font-size: 40px;
    font-family: Roboto;
    font-weight: 700;
    margin-right: 5%;
    line-height: 56px;
    word-wrap: break-word;
}

body {font-family: Arial, Helvetica, sans-serif;}

.container1{
   display: flex;
   align-items:flex-start;
}
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  background-color: black;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: white;
  color: black;
  border: none;
  
}

input[type=submit]:hover {
  opacity: 0.8;
}